.App{
  text-align: center;
}
h1 {
  text-align: justify;
 outline: 1px salmon solid;
  padding: 20px;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
} 

button {
  width: 100px;
  height: 30px;
  margin-right: 5px;
  margin-top: 20px;
  background-color: salmon;
  font-weight: bold;
  
} 

.styles {
  background-color: gray;
  outline: 1px solid black;
  
}
